* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.calculator {
    width: 300px;
    height: 420px;
    background-color: steelblue;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    background-color: lightsteelblue;
    width: 260px;
    height: 60px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 8px;
    text-align: right;
    font-size: 40px;
}
.display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

button {
    width: 56px;
    height: 50px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    border-radius: 8px;
}

#operator {
    background-color: antiquewhite;
}
#equals-key {
    background-color: red;
}

#n0 {
    width: 124px;
}

.all-clear {
    width: 124px;
}

.model {
    width: 260px;
    text-align: right;
    font-size: 10px;
    font-family: monospace;
    margin-bottom: 3px;
}

.brand {
    width: 280px;
    text-align: center;
    font-family: tahoma;
    margin-top: 3px;
    font-weight: bold;
    font-size: 20px;
}